html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  min-width: 1366px;
  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

body {
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  
}

.layout {
  background: #fff;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
  text-align: left;
  color: #333;
}

// tag styles reset
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}
//end tag styles reset
