.icon-sun-max,
.icon-sun-min,
.cloud-drizzle,
.icon-scheduled,
.icon-sun,
.icon-sun-2,
.icon-temperature,
.icon-temperature-2 {
  display: inline-block;
  background-image: url('../img/icons/icon_spite@1x.png');
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  background-size: 36px 218px;

  @media
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) { 
      background-image: url('../img/icons/icon_spite@2x.png');
  }
}

.icon-sun-max {
  background-position: -0px -0px;
  width: 36px;
  height: 36px;
}
.icon-sun-min {
  background-position: -0px -36px;
  width: 36px;
  height: 36px;
}
.cloud-drizzle {
  background-position: -0px -72px;
  width: 26px;
  height: 26px;
}
.icon-scheduled {
  background-position: -0px -98px;
  width: 24px;
  height: 24px;
}
.icon-sun {
  background-position: -0px -122px;
  width: 24px;
  height: 24px;
}
.icon-sun-2 {
  background-position: -0px -146px;
  width: 24px;
  height: 24px;
}
.icon-temperature {
  background-position: -0px -170px;
  width: 24px;
  height: 24px;
}
.icon-temperature-2 {
  background-position: -0px -194px;
  width: 24px;
  height: 24px;
}

.icon-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: $main;
}

.icon-arrow_right {
  transform: rotate(45deg);
}

.icon-arrow_left {
  transform: rotate(-135deg);
}

.icon-arrow-2 {
	height: 10px; width: 10px;
	border: 1px solid #333;
	border-width: 2px 2px 0 0;
	transform: rotate(-45deg);
}

.icon-arrow-2:after {
	content: '';
	display: block;
	height: 10px; width: 10px;
	border: 1px solid #333;
	border-width: 2px 2px 0 0;
	transform: translate(5px, -7px);
}

.icon-nav {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: $main;
  transform: rotate(135deg);
  margin-bottom: 5px;
}
