.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.title__text {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.title__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title__nav-item {
    background-color: #F7F7F7;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    margin-left: 20px;
    transition: background-color .15s ease-out;
    cursor: pointer;

    &:hover {
        background-color: #eeeeee;
    }
    &.active {
        background-color: #FFD93E;
    }
}

.title__arrow {
    margin-left: auto;
    display: flex;
}

.title__arrow-item {
    opacity: 0.3;
    transition: opacity .15s ease-out;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    
    &:hover {
        opacity: 1;
    }
}