.condition {
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 330px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
    background-image: url('../img/bg@1x.png');
    flex-shrink: 0;

    @media
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) { 
        background-image: url('../img/bg@2x.png');
    }

    @include phones {
        height: 280px;
        flex-direction: column;
        margin: 10px 15px 0px;
    }
}

.condition-devices {
    padding: 0 20px;
    overflow-y: auto;
    flex-shrink: 0; 

    @include phones {
        overflow-x: auto;
        padding: 0 15px 0 0;
        display: flex;
    }
}

.condition-scroll {
    padding: 5px 0 20px 0;
    display: flex;
    flex-direction: column;

    .device {
        margin-top: 15px;

        @include phones {
            margin-left: 15px;
            margin-top: 0px;
        }
    }

    @include phones {
        flex-direction: row;
        padding-right: 15px;
    }
}

.condtition-info {
    padding-left: 20px;
}

.condition-arrow {
    opacity: 0.3;
    transition: opacity .15s ease-out;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 110px;

    @include phones {
        display: none;
    }
}

.greeting {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include phones {
        margin-top: 20px;
    }
}

.greeting__text {
    font-size: 27px;
    color: $main;
    font-weight: 700;

    @include phones {
        font-size: 18px;
    }
}

.greating__description {
    font-size: 14px;
    color: $main;

    @include phones {
        font-size: 12px;
    }
}

.greating__temperature {
    display: flex;
    margin-top: 30px;

    @include phones {
        margin-top: 20px;
    }
}

.greating__temperature-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.greating__temperature-desc {
    font-size: 14px;
    color: $grey;

    @include phones {
        font-size: 12px;
    }
}

.greating__temperature-value {
    font-size: 36px;
    color: $main;
    font-weight: 700;
    letter-spacing: 0;

    @include phones {
        font-size: 24px;
    }
}

.greating__temperature-info {
    display: flex;
    align-items: center;
}

.greating__temperature-icon {
    margin-left: 5px;
}


