.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: flex-start;
    height: 100%;
    @include phones {
        flex-direction: column;   
        margin-top: 0;   
    }
}

.main__content {
    width: 50%;
    display: flex;
    flex-direction: column;   
    min-width: 470px;    

    &_right {
        width: auto;
        @include phones {
            margin-bottom: 0px;   
        }
    }

    &_left {
        max-width: 740px;
        flex: 1;
        @include phones {
            margin-bottom: 10px;   
        }
    }

    @include phones {
        width: 100%;   
        min-width: auto;   
    }
}


.main__block {
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}