.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    height: 100%;
    // flex: 1;
}

.main__content {
    width: 50%;
    display: flex;
    flex-direction: column;   
    min-width: 470px;
}

.main__block {
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}