.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    height: 80px;
    padding: 0 20px;
}

.logo__img {
    max-height: 27px;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
    @include phones {
        display: none;
      }
}

.nav__link {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;
    margin-left: 20px;
    transition: opacity .1s ease-out;
    &:hover {
          opacity: 1;
      }

    &.active {
        opacity: 1;
    }
  }